<% was_validated = grocery_store.errors.any? %>

<%= form_with(model: grocery_store, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% store_name_class = "form-control" %>
    <% store_name_was_invalid = grocery_store.errors.include?(:store_name) %>

    <% if was_validated %>
      <% if store_name_was_invalid %>
        <% store_name_class << " is-invalid" %>
      <% else %>
        <% store_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :store_name %>
    <%= f.text_field :store_name, class: store_name_class, placeholder: "Enter store name" %>
    <% if store_name_was_invalid %>
      <% grocery_store.errors.full_messages_for(:store_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% location_class = "form-control" %>
    <% location_was_invalid = grocery_store.errors.include?(:location) %>

    <% if was_validated %>
      <% if location_was_invalid %>
        <% location_class << " is-invalid" %>
      <% else %>
        <% location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :location %>
    <%= f.text_field :location, class: location_class, placeholder: "Enter location" %>
    <% if location_was_invalid %>
      <% grocery_store.errors.full_messages_for(:location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
