<%= form_with(model: @ingredient, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :meal_id %>

    <%= f.collection_select :meal_id, Meal.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.hidden_field :category_id, value: @category.id %>

  <div class="form-group">
    <%= f.label :store_id %>

    <%= f.collection_select :store_id, GroceryStore.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cost %>

    <%= f.text_field :cost, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>

    <%= f.file_field :photo, class: "form-control" %>
  </div>

  <%= f.submit "Create ingredient", class: "btn btn-block btn-outline-secondary" %>
<% end %>
